nltk==3.4.5
numpy
gensim==3.8.1
pandas
pdfplumber==0.5.28
spacy
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.3.1/en_core_web_lg-2.3.1.tar.gz
boto3